<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Привет</h1>
    <h2>загляни на наш сайт <a href="localhost:8000/api/v1/product/">py24</a> у нас вышел новый товар </h2>
    <h3>{{ name }}</h3>
    <h3>{{ price }}</h3>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" alt="image">
</body>
</html>
